@import url("https://fonts.googleapis.com/css?family=Lato:400,700");

:root {
  --colorPrincipal: #f09d51;
  --colorBlanco: #fff;
  --colorNegro: #222;
  --colorGris: #ececec;
  --espaciado: 0.1rem;
  --tiempoTransiciones: all 0.3s linear;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  color: var(--colorNegro);
  background: var(--colorBlanco);
  font-family: "Lato", sans-serif;
}
/* --------------- Navbar ---------------- */
#ban {
  text-decoration: none;
  color: black;
}
.navbar {
  position: sticky;
  top: 0;
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  background: rgb(231, 226, 221);
  z-index: 1;
}
.navbar-center {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.5rem;
}
.nav-icon {
  font-size: 1.5rem;
}
.info-icon {
  color: lightseagreen !important;
}
.carro-btn {
  position: relative;
  cursor: pointer;
}
.carro-objetos {
  position: absolute;
  top: -8px;
  right: -8px;
  background: var(--colorPrincipal);
  padding: 0 5px;
  border-radius: 30%;
  color: var(--colorBlanco);
}
/* --------------- Fin del Navbar ---------------- */

/* --------------- Header ---------------- */
header {
  min-height: calc(100vh - 60px);
  background: url("./images/bkp.jpg") center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner {
  text-align: center;
  background: rgba(255, 255, 255, 0.8);
  display: inline-block;
  padding: 2rem;
}
.banner-titulo {
  font-size: 3.4rem;
  text-transform: uppercase;
  letter-spacing: var(--espaciado);
  margin-bottom: 3rem;
}
.banner-btn {
  padding: 1rem 3rem;
  text-transform: uppercase;
  letter-spacing: var(--espaciado);
  font-size: 1rem;
  background: var(--colorPrincipal);
  color: var(--colorNegro);
  border: 1px solid var(--colorPrincipal);
  transition: var(--tiempoTransiciones);
  cursor: pointer;
}

.banner-btn:hover {
  background: transparent;
  color: var(--colorPrincipal);
}
/* --------------- Fin de Header ---------------- */

/* --------------- Productos ---------------- */

.productos {
  padding: 4rem 0;
}
.section-titulo h2 {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 5rem;
  text-transform: capitalize;
  letter-spacing: var(--espaciado);
}
.productos-centrar {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  grid-column-gap: 1.5rem;
  grid-row-gap: 2rem;
}
.img-container {
  position: relative;
  overflow: hidden;
}
.boton-Acarro {
  position: absolute;
  top: 70%;
  right: 0;
  background: lightgreen;
  border: none;
  text-transform: uppercase;
  padding: 0.5rem 0.75rem;
  letter-spacing: var(--espaciado);
  font-weight: bold;
  transition: var(--tiempoTransiciones);
  transform: translateX(101%);
  cursor: pointer;
}
.boton-Acarro:hover {
  color: var(--colorBlanco);
}
.fa-shopping-cart {
  margin-right: 0.5rem;
}
.img-container:hover .boton-Acarro {
  transform: translateX(0);
}
.product-img {
  display: block;
  width: 100%;
  min-height: 12rem;
  transition: var(--tiempoTransiciones);
}
.img-container:hover .product-img {
  opacity: 0.5;
}

.productos h3 {
  text-transform: capitalize;
  font-size: 1.1rem;
  margin-top: 1rem;
  letter-spacing: var(--espaciado);
  text-align: center;
}

.productos h4 {
  margin-top: 0.7rem;
  letter-spacing: var(--espaciado);
  color: var(--colorPrincipal);
  text-align: center;
}

/* ---------------Fin de Products ---------------- */

/* --------------- Carro ---------------- */
.carro-superpuesto {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  transition: var(--tiempoTransiciones);
  background: rgba(52, 15, 155, 0.5);
  z-index: 2;
  visibility: hidden;
}
.carro {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  overflow: scroll;
  z-index: 3;
  overflow: scroll;
  background: rgb(231, 226, 221);
  padding: 1.5rem;
  transition: var(--tiempoTransiciones);
  transform: translateX(100%);
}
.mostrarCarro {
  transform: translateX(0);
}
.fondoTransparente {
  visibility: visible;
}
@media screen and (min-width: 768px) {
  .carro {
    width: 30vw;
    min-width: 450px;
  }
}

.cerrar-carro {
  font-size: 1.7rem;
  cursor: pointer;
}
.carro h2 {
  text-transform: capitalize;
  text-align: center;
  letter-spacing: var(--espaciado);
  margin-bottom: 2rem;
}
/*---------- Items del carro -------------------- */
.item-carro {
  display: grid;
  align-items: center;
  grid-template-columns: auto 1fr auto;
  grid-column-gap: 1.5rem;
  margin: 1.5rem 0;
}
.item-carro img {
  width: 75px;
  height: 75px;
}
.item-carro h4 {
  font-size: 0.85rem;
  text-transform: capitalize;
  letter-spacing: var(--espaciado);
}
.item-carro h5 {
  margin: 0.5rem 0;
  letter-spacing: var(--mainSpacing);
}
.item-total {
  text-align: center;
}
.eliminar-item {
  color: grey;
  cursor: pointer;
}
.fa-chevron-up,
.fa-chevron-down {
  color: var(--colorPrincipal);
  cursor: pointer;
}
/*---------- Fin items del carro -------------------- */

.carro-footer {
  margin-top: 2rem;
  letter-spacing: var(--espaciado);
  text-align: center;
}
.carro-footer h3 {
  text-transform: capitalize;
  margin-bottom: 1rem;
}

/* --------------- Fin del carro ---------------- */
